body
{
	background-color: #000;
}

#darkroom {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 900px;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

#lightbox {
	position: absolute;
	top: 680px;
	left: 0px;
	width: 1440px;
	height: 641px;
	background-image: url(../images/contactsheet.png);	
	background-repeat: no-repeat;
}

#fullscreenvideo
{
	
	postition: fixed;
	left:0px;
	top:0px;
	z-index:90;
	height: 100px;
	width: auto;
	
}

